{% extends 'home/base.html' %}
{% load i18n %}
{% load static %}
{% block head %}
<meta name="google-adsense-account" content="ca-pub-1565972943494658">
<title>TestOPE - Web</title>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZM6GBKCS3R"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'G-ZM6GBKCS3R');
</script> 
<!--Google Adsense-->



{% endblock %}
{% block contenido %}


<!--aca termina el carousel-->
<a href="#" style="text-decoration:none;"><div class="container bg-testope">
  <div class="row">
    <div class="col-12 text-white p-3 text-center">
      Pásate a <b>PREMIUM</b> para seguir donde lo dejaste, tengas acceso al 100% de aprendizaje, y la inteligencia artificial gestione tu aprendizaje
    </div>
  </div>
</div></a>
<div class="container my-1" style="background:url('{% static "img/testope-cabecera.png" %}');background-size:100%;height:270px;">

</div>
<div class="container">
<div class="w-100 text-center">
  <h1 class="">OPEs vigentes</h1>
</div>
  <div class="row">
    <form>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Filtrar OPE por localidad</label>
        <select class="form-control" id="exampleFormControlSelect1">
          {% for dato in locality %}
          <option>{{ dato.locality }}</option>
          {% endfor %}
          <option>Ver todos</option>
        </select>
      </div>
    </form>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    {% for dato in ope %}
      <div class="card" style="width: 18rem;">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
          <h5 class="card-title text-testope">{{ dato.name }}</h5>
          <label class="">{{ dato.locality }}</label>,
          <label class="">{{ dato.province }}</label>
          <a href="{{ dato.urlOpe }}" target="_blank" class="btn bg-secondary text-white mt-1 w-100">Información oficial</a>
          <a href="{% url 'learning_app:startTest' dato.id %}" class="btn bg-testope text-white mt-1 w-100 py-3">Comenzar</a>

          <!-- Formulario para enviar POST -->
          <form action="{% url 'learning_app:add_to_my_learning' dato.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn bg-testope text-white mt-1 w-100 py-3">
                  Añadir a mi aprendizaje
              </button>
          </form>
         
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<!--aca comienza un parrafo-->

<div class="container mt-5">
  <div class="row">

    <p class="display-6" style="text-align: center;">
      {% trans '¡Bienvenido a TestOPE! Tu plataforma ideal para preparar oposiciones. Ofrecemos una experiencia de aprendizaje cómoda, amena y eficiente, diseñada para ayudarte a alcanzar tus metas. Conéctate con otros aspirantes, comparte experiencias y accede a recursos exclusivos. Únete a nuestra comunidad y comienza tu camino hacia el éxito hoy mismo. ¡Prepárate con TestOsakidetza!' %}
    </p>

  </div>
</div>
<br>
<!--aca termina el parrafo-->

<!--boton para registrarce-->
<div class="text-center mt-5 mb-5 ">
  <a href="{% url 'account_signup' %}"><button class="btn text-white"
      style="background-color: #250f64;">{% trans 'Registrate' %}</button></a>
</div>

<!-- aca termina el  boton-->


<!--aca inicia la parte de categorias-->

 


      


<!--aca terminan las categorias-->

<!--aca comienza el numero de personas haciendoo test-->
<div>

  <p class="display-5 text-center" style="margin-top: 80px;">
    <b style="color:#250f64; font-size: 2em;" id="dynamic-number">{{ countUsersLearning }}</b>
    <br><b>{% trans 'USUARIOS HACIENDO TEST' %}</b>
  </p>

</div>

<div class="container-fluid" style="background-color:lime;">

  <p class="display-5 text-center m-5" style="margin-top: 80px;">
    <b style="color:#250f64">{{ countUsersRegistered }}<br>{% trans 'USUARIOS REGISTRADOS' %}</b>
  </p>

</div>
<!--aca termina el div de personas  haciendo test-->

<!---aca inicia el div de personas que hacen donativos-->

<div class="text-center display-5" style="margin-top: 90px; color: #250f64;">

  <p><b>{% trans 'Último Donativo' %}</b><br>Maria Aguilar <br>(Donostia)</p>



  <!--aca inicia l boton de donativos-->

  <div class="text-center mt-5 mb-5 " style="padding-top: 60px; padding-bottom: 30px;">
    <a href="https://www.paypal.com/donate/?hosted_button_id=REM3EZBPZBPMW"><button class="btn"
        style="background-color: pink;"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
          fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
          <path
            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
        </svg> {% trans 'Donar' %}</button></a>

  </div>

  <!--aca termiina el boton de donativos-->





</div>


<!--aca termina el contenedor de usuarios haciendo test-->


<script>
        const dynamicNumber = document.getElementById("dynamic-number");
        let currentNumber = 500;

        // Función para cambiar el número
        function updateNumber() {
            // Generar un cambio aleatorio en el rango de -10 a 10
            const randomChange = Math.floor(Math.random() * 21) - 10; // Número entre -10 y 10
            currentNumber += randomChange;

            // Asegurarse de que el número no sea negativo
            if (currentNumber < 0) {
                currentNumber = 0;
            }

            // Actualizar el contenido del elemento
            dynamicNumber.textContent = currentNumber;

            // Configurar un nuevo intervalo aleatorio para el próximo cambio
            scheduleNextUpdate();
        }

        // Función para programar el próximo cambio en un tiempo aleatorio
        function scheduleNextUpdate() {
            const randomInterval = Math.random() * 5000 + 2000; // Entre 2 y 5 segundos
            setTimeout(updateNumber, randomInterval);
        }

        // Iniciar el proceso
        scheduleNextUpdate();
    </script>

{% endblock %}