{% extends 'home/base_sin_menu_sin_footer.html' %}
{% load i18n %}
{% load static %}


{% block head %}
  

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZM6GBKCS3R"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-ZM6GBKCS3R');
</script>




{% endblock %}
{% block contenido %}



<div class=" container-fluid">
    <div class="row">
       

        <div class="col-10 p-5" style="position:relative;">
            <a href="{% url 'home_app:home' %}" class="" style="position:fixed;"><button class="btn bg-light">Volver</button></a>
            <h1 class="text-center display-6 col-lg-12 col-md-12">{{ test.category}}
            </h1>
            <!--aca inicia l boton de donativos-->
            <div class="text-center" style="">
                <a href="https://www.paypal.com/donate/?hosted_button_id=REM3EZBPZBPMW"><button class="btn"
                    style="background-color: pink;"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                    </svg> {% trans 'Donar' %}</button></a>
            </div>
            <!--aca termiina el boton de donativos-->
            <h3 class="text-center">{{ test.number }}/{{ totalQuestions }}</h3>
           
            <div style="">
                <p class="display-6 col-lg-12 col-md-12" style="padding-bottom: px;">{{ test.number }}.-{{ test.question }}</p>     
            </div>
            
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="answer" value="A">
                <input type="hidden" name="category" value="{{ test.category }}">
                <input type="hidden" name="number" value="{{ test.number }}">
                <input type="hidden" name="correctAnswer" value="{{ test.correctAnswer }}">
                {% if test.correctAnswer == 'A' %}
                <button class="btn btn-secondary w-25 m-3" type="submit" onclick="alert('Correcto');">{{ test.aAnswer }}</button>
                {% else %}
                <button class="btn btn-secondary w-25 m-3" type="submit" onclick="alert('Incorrecto: {{ answerTest }}');">{{ test.aAnswer }}</button>
                {% endif %}

            </form>     <!-- Progesion panel-->
            <div class="w-100p-5" style="position:absolute;bottom:0;">
                <h4 class="">Tu progresión</h4>
                {% for test in questionList %}
                    {% if test.answerProgresionCorrect == 0 %}
                        <div class="border" style="width:20px; height:20px; font-size:10px; color:black;text-align:center; float:left; background-color: #fff;">{{ test.number }}</div>
                    {% elif test.answerProgresionCorrect == 1 %}
                    <div style="width:20px; height:20px; font-size:10px; color:white;text-align:center; float:left; background-color: #e1dfff;">{{ test.number }}</div>
                    {% elif test.answerProgresionCorrect == 2 %}
                    <div style="width:20px; height:20px; font-size:10px; color:white;text-align:center; float:left; background-color: #b0abde;">{{ test.number }}</div>
                    {% elif test.answerProgresionCorrect == 3 %}
                    <div style="width:20px; height:20px; font-size:10px; color:white;text-align:center; float:left; background-color: #250f64;">{{ test.number }}</div>
                    {% else %}
                    <div style="width:20px; height:20px; font-size:10px; color:black;text-align:center; float:left; background-color: lime;">{{ test.number }}</div>

                    {% endif %}
                {% endfor %}
            </div>
        <!--Fin del Progresion panel-->
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="answer" value="B">
                <input type="hidden" name="category" value="{{ test.category }}">
                <input type="hidden" name="number" value="{{ test.number }}">
                <input type="hidden" name="correctAnswer" value="{{ test.correctAnswer }}">
                {% if test.correctAnswer == 'B' %}
                <button class="btn btn-secondary w-25 m-3" type="submit" onclick="alert('Correcto');">{{ test.bAnswer }}</button>
                {% else %}
                <button class="btn btn-secondary w-25 m-3" type="submit" onclick="alert('Incorrecto: {{ answerTest }}');">{{ test.bAnswer }}</button>
                {% endif %}
            </form>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="answer" value="C">
                <input type="hidden" name="category" value="{{ test.category }}">
                <input type="hidden" name="number" value="{{ test.number }}">
                <input type="hidden" name="correctAnswer" value="{{ test.correctAnswer }}">
                {% if test.correctAnswer == 'C' %}
                <button class="btn btn-secondary w-25 m-3" type="submit" onclick="alert('Correcto');">{{ test.cAnswer }}</button>
                {% else %}
                <button class="btn btn-secondary w-25 m-3" type="submit" onclick="alert('Incorrecto: {{ answerTest }}');">{{ test.cAnswer }}</button>
                {% endif %}
            </form>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="answer" value="D">
                <input type="hidden" name="category" value="{{ test.category }}">
                <input type="hidden" name="number" value="{{ test.number }}">
                <input type="hidden" name="correctAnswer" value="{{ test.correctAnswer }}">
                {% if test.correctAnswer == 'D' %}
                <button class="btn btn-secondary w-25 m-3" type="submit" onclick="alert('Correcto');">{{ test.dAnswer }}</button>
                {% else %}
                <button class="btn btn-secondary w-25 m-3" type="submit" onclick="alert('Incorrecto: {{ answerTest }}');">{{ test.dAnswer }}</button>
                {% endif %}
            </form>

        <!-- Progesion panel-->
            <div class="w-75 p-5 bg-light" style="position:absolute; bottom:0;">
                <h4 class="">Tu progresión</h4>
                {% for test in questionList %}
                    {% if test.answerProgresionCorrect == 0 %}
                        <div class="border" style="width:20px; height:20px; font-size:10px; color:black;text-align:center; float:left; background-color: #fff;">{{ test.number }}</div>
                    {% elif test.answerProgresionCorrect == 1 %}
                    <div style="width:20px; height:20px; font-size:10px; color:white;text-align:center; float:left; background-color: #e1dfff;">{{ test.number }}</div>
                    {% elif test.answerProgresionCorrect == 2 %}
                    <div style="width:20px; height:20px; font-size:10px; color:white;text-align:center; float:left; background-color: #b0abde;">{{ test.number }}</div>
                    {% elif test.answerProgresionCorrect == 3 %}
                    <div style="width:20px; height:20px; font-size:10px; color:white;text-align:center; float:left; background-color: #250f64;">{{ test.number }}</div>
                    {% else %}
                    <div style="width:20px; height:20px; font-size:10px; color:black;text-align:center; float:left; background-color: lime;">{{ test.number }}</div>

                    {% endif %}
                {% endfor %}
            </div>
        <!--Fin del Progresion panel-->
        </div>
    

        <!--Panel Social para comentar los usuarios-->
        <div class="col-2 bg-light border pl-1 pr-1" style="height:100vh;">
            <h3 class="text-center">Social</h3>
            <p style="color: black; background-color:pink;" class="m-0 p-0"><b>Último donativo:<br>Olvin Daniel (Donostia): </b>¡Mucha suerte y ánimo a todos!</p>
               <p class="m-0 p-0"><b style="color: #250f64;">admin: </b>Comentario</p>
                <p class="m-0 p-0"><b style="color: #250f64;">pedro: </b>Comentario</p>
                    <p class="m-0 p-0"><b style="color: #250f64;">daniel: </b>Comentario</p>
                        <p class="m-0 p-0"><b style="color: #250f64;">sasha: </b>Comentario</p>
                            <p class="m-0 p-0"><b style="color: #250f64;">unax: </b>Comentario</p>

                <form class="" style="position:absolute;bottom:0px;">
                    <div class="form-group">
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
                    </div>
                    <button type="submit" class="btn btn-primary w-100" style="background-color: #250f64;">Enviar</button>
                  </form>
        </div>
        <!--Fin del Social panel-->
    </div>
</div>




    {% endblock %}